/* Variables */
:root {
  --color-flowers: #ffa726; /* orange lighten-1 */
  --color-leaves: #66bb6a; /* green lighten-1 */
  --color-fruits: #ff7043; /* deep-orange lighten-1 */
  --color-roots: #8d6e63; /* brown lighten-1 */
  --edible: #fff;
  --edible-font: green;
  --edible-flowers: #ffe0b2; /* orange lighten-4 */
  --edible-leaves: #c8e6c9; /* green lighten-4 */
  --edible-fruits: #ffccbc; /* deep-orange lighten-4 */
  --edible-roots: #d7ccc8; /* brown lighten-4 */
}

.card .card-content {
  padding: 0;
}

.card-image {
  cursor: pointer;
}

.collapsible {
  box-shadow: none;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 0;
}

.header-months {
  justify-content: center;
  padding: 5px;
  color: #90a4ae; /* #90a4ae blue-grey lighten-2 */
  /*background: #eceff1;  blue-grey lighten-5 */
}

.collapsible-header:hover {
  filter: brightness(0.9);
}

.taste {
  display: block;
  padding: 10px;
}

.food-collapsible {
  padding: 7px;
}

.fa-haykal {
  color: var(--color-flowers);
}

.fa-leaf {
  color: var(--color-leaves);
}

.fa-apple-alt {
  color: var(--color-fruits);
}

.fa-carrot {
  color: var(--color-roots);
}

.edible {
  color: var(--edible-font);
  font-weight: 900;
  background: var(--edible);
  opacity: 0.8;
}

.edible-bottom {
  border-bottom: none;
}

.edible-flowers {
  font-weight: 700;
  background: var(--edible-flowers);
  opacity: 0.8;
}

.edible-leaves {
  font-weight: 700;
  background: var(--edible-leaves);
}

.edible-fruits {
  font-weight: 700;
  background: var(--edible-fruits);
}

.edible-roots {
  font-weight: 700;
  background: var(--edible-roots);
}

/* make the cards pinterest like: Thank you https://codepen.io/mike-north/pen/MwVoYp?editors=0100*/
.card-container,
.card {
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

.card-container .card {
  display: inline-block;
  overflow: visible;
}

@media (min-width: 601px) {
  .card-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
